video{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
div{
  width: 100%;
  height: auto !important;
  overflow: hidden;
}
